@use 'variables';
@use 'layout';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: variables.$outfit;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    min-height: 100vh;
    background-color: variables.$slate-300;
    
    @include layout.flex(center, center, column);
}